<app-navbar></app-navbar>
<div class="container mt-5 pt-5">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-md-6">
            <label for="date input" class="form-label">Date</label>
            <input type="date" class="form-control" id="dateInput" />
          </div>
          <div class="col-md-6">
            <label for="hour input" class="form-label">Daily Hours</label>
            <input type="time" class="form-control" id="dateInput" />
          </div>
        </div>
        <div class="mt-5">
          <label for="textAreaComment" class="form-label" id="textarea"
            >Comment</label
          >
          <textarea name="" id="" cols="70" rows="3"></textarea>
        </div>
        <div class="mt-2">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <div class="container mt-5 pt-5">
  <div class="table">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Asset Category</th>
          <th scope="col">Asset Description</th>
          <th scope="col">Serial#</th>
          <th scope="col">Date Assigned</th>
          <th scope="col">Date Returned</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <form >
                <input type="text">
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
