<app-navbar></app-navbar>
<div class="container pt-5">
  <div class="col-12 col-sm-8 col-md-6 m-auto">
    <div class="card border-0 shadow">
      <div class="card-body">
        <div class="box">
          <div class="icon text-center mb-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="50"
              height="50"
              fill="currentColor"
              class="bi bi-person-circle"
              viewBox="0 0 16 16"
            >
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
              <path
                fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
              />
            </svg>
          </div>

          <form>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="textInput"
                placeholder="abc"
                [(ngModel)]="loginObj.username"
              />
              <label for="idInput" class="form-label">User Id</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="passwordInput"
                placeholder="password"
                [(ngModel)]="loginObj.password"
              />
              <label for="passwordInput" class="form-label">Password</label>
            </div>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="remembermeCheck"
              />
              <label for="remembermeCheck" class="form-check-label"
                >Remember me</label
              >
            </div>
            <div class="text-center">
              <button (click)="onLogin()" type="submit" class="btn btn-primary">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
